@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Josefin+Sans:wght@700&display=swap");

.navbar {
  display: flex;
  align-items: center;
  background-color: #efc712;
  padding: 1rem 0.5rem;
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo-div {
  width: 20%;
}

.logo {
    font-family: "Aclonica", sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.cool-link {
  text-decoration: none;
  color: aliceblue;
}
/* .link-div{
    display: none;
} */

.link-div ul {
  list-style-type: none;
}

.icon {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .link-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: -50%;
    height: 100vh;
    background: rgb(36, 33, 33);
    padding: 0.5rem;
    transition: 0.4s ease-in-out;
    border-top-left-radius: 1rem;
  }
  .link-div ul li {
    padding-bottom: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
  }

  .sidebar {
    right: 0%;
    transition: 0.5s ease-in-out;
  }

  .cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s;
  }

  .cool-link:hover::after {
    width: 100%;
  }
}
