@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Noto+Sans+Miao&family=Vina+Sans&display=swap');

/* .navbar{
   
    color: rgb(24, 23, 23);
    font-weight: 800;
    letter-spacing: 2px;
    
}
.navbar-nav{
    display: flex;
    justify-content: end;
   
}
.navbar-nav a:hover{
    background-color: white;
    color: rgb(75, 74, 74);
}
.navbar-brand{
    color: rgb(44, 43, 43);
    font-family: 'Vina Sans', cursive;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 4px;
}
.navbar-links{
    text-decoration: none;
    margin-top: 0.5rem;
    color: rgb(41, 13, 13);
    margin-inline: 1rem;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: rgb(0, 0, 0);
}

.navbar-dropdown a{
    color: rgb(4, 4, 4);
}
.dropdown-menu {
    position: absolute;
    background-color: black;
}
.navbar-dropdown-links{
    color: white;
    background-color: black;
}
.mobile{
    display: none;
}
@media screen and (max-width:796px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
    }
} */
.navbar {
    background-color: #ffffff;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-links {
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .navbar-dropdown-links {
    font-size: 14px;
    
  }
  
  .mobile {
    display: none;
  }
  
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .navbar {
      padding: 5px;
    }
  
    .navbar-brand {
      font-size: 20px;
    }
  
    .navbar-links {
      font-size: 14px;
      text-decoration: none;
    }
  
    .navbar-dropdown-links {
      font-size: 12px;
    }
  
    .mobile {
      display: block;
      cursor: pointer;
    }
  
    .mobile-icon {
      font-size: 24px;
    }
  
    .navbar-nav {
      /* display: ${click ? 'block' : 'none'}; */
      background-color: #f8f9fa;
      padding: 10px;
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      z-index: 999;
    }
  }
  